.estrutura {
    position: relative;
    height: 60rem;
    padding: 4rem;
    background-color: #fff;
    position: relative;  /* Necessário para o posicionamento do vídeo de fundo */
    overflow: hidden;  /* Garante que nada fique fora dos limites da seção */
}

.video-container {
    position: absolute;  /* O vídeo será posicionado atrás do conteúdo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
      
}

#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* O vídeo cobre toda a área do contêiner sem distorção */
    
}

/* .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} */

    

.texto-estrutura {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: -150px; /* Ajuste o valor conforme necessário */
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    border-radius: 8px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 1;
    
}

.texto-estrutura h2 {
    font-size: 4em;
    color: white;
    margin-bottom: 0.5rem;
}

.texto-estrutura p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: white;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.imagens-estrutura {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    position: absolute;
    top: 40%;
    left: 16%;
    z-index: 1;
}

.imagem img {
    width: 30rem;
    height: 30rem;
    border-radius: 0.8rem;
}