@import url(./assets/menu.css);
@import url(./assets/sobre.css);
@import url(./assets/servicos.css);
@import url(./assets/estrutura.css);
@import url(./assets/contato.css);
@import url(./assets/perguntas.css);
@import url(./assets/mapa.css);
@import url(./assets/socias.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

