    /*
    comando para comentario no css
    */
    /*
    font-family serve para o tipo de fonte da letra, color para a cor, text-align para alinhamento e text-transform para força o estilo da letra.
    */

    @import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');


    @font-face {
        font-family: "Capture it";
        src: url(./Capture\ it.ttf);
    }



    h1{
        font-family:"Capture it";
        color: gray;
    }


    h2 {
        font-family: monospace;
        color: blue;

        text-align: center;
    }

    p{
        font-family: sans-serif;
        text-align: justify;
        line-height:30px ;
        /*letter-spacing:10px; */
        /*word-spacing: 20px; */
        text-indent: 50px;

    }
    
    h3{
        font-family: cursive;
        text-transform: capitalize;
    }

    h4{
        font-family: fantasy;
        text-shadow: 5px 5px 5px orange;
        font-size: 36px;
        color: green;
    }

    a{
        text-decoration-line:underline ;
        text-decoration-style:wavy ;
        text-decoration-color:blue ;
        color: rgb(209, 15, 15);
        font-size: 40px;
    }

    body{
        /* background-color: blue; */
        background-color: blue;
        background-image:url(./bob-esponja-.avif);
        background-repeat: no-repeat;
        background-position:center center;
        background-size:cover ;
        background-blend-mode: lighten;
    }