.mapa-section {
    background-color: #444343;
    padding: 5rem 0;
}

.mapa-section .titulo-principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 4rem;
}

.mapa-container {
    margin-top: 2rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

iframe {
    border: none;
    width: 100%;
    height: 45rem;
}

/* Responsividade */

/* Para telas médias (tablets, 768px - 1024px) */
@media (max-width: 1024px) {
    .mapa-section .titulo-principal {
        font-size: 2.5rem; /* Diminui o tamanho do título */
        margin-bottom: 2rem; /* Ajusta a margem inferior */
    }

    .mapa-container iframe {
        height: 35rem; /* Ajuste do tamanho do iframe para telas médias */
    }
}

/* Para telas pequenas (celulares, 480px - 768px) */
@media (max-width: 768px) {
    .mapa-section .titulo-principal {
        font-size: 2rem; /* Reduz o tamanho do título para telas pequenas */
        margin-bottom: 1.5rem; /* Ajusta a margem inferior */
    }

    .mapa-container iframe {
        height: 25rem; /* Ajuste do iframe para caber melhor em telas menores */
    }
}

/* Para telas muito pequenas (celulares abaixo de 480px) */
@media (max-width: 480px) {
    .mapa-section .titulo-principal {
        font-size: 1.8rem; /* Ajuste final do título para telas muito pequenas */
        margin-bottom: 1rem;
    }

    .mapa-container iframe {
        height: 20rem; /* Ajuste do iframe para telas pequenas */
    }
}