.faq-section {
    background-color: #3f3f3f;
    padding: 50px 0;
}

.faq-section .titulo-principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 4rem;
}

.faq-item {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-item h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.faq-item p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    color: #666;
    line-height: 1.6;
}

.faq-item:hover {
    background-color: #cecaca;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Responsividade */

/* Para telas médias (tablets, 768px - 1024px) */
@media (max-width: 1024px) {
    .faq-section .container {
        padding: 0 20px;
    }

    .faq-section .titulo-principal {
        font-size: 2.2rem; /* Diminui o tamanho do título para telas médias */
        margin-bottom: 2rem; /* Menor espaçamento inferior */
    }

    .faq-item {
        padding: 1.5rem; /* Reduz o padding dos itens de FAQ */
    }

    .faq-item h4 {
        font-size: 1.5rem; /* Reduz o tamanho do título de cada item */
    }

    .faq-item p {
        font-size: 1.1rem; /* Ajusta o tamanho do parágrafo */
    }
}

/* Para telas pequenas (celulares, 480px - 768px) */
@media (max-width: 768px) {
    .faq-section .titulo-principal {
        font-size: 1.8rem; /* Reduz ainda mais o título */
        margin-bottom: 1.5rem;
    }

    .faq-item {
        padding: 1.2rem; /* Reduz o padding dos itens de FAQ */
        margin-bottom: 1.5rem; /* Reduz a margem inferior */
    }

    .faq-item h4 {
        font-size: 1.3rem; /* Reduz o tamanho dos títulos dentro dos itens */
    }

    .faq-item p {
        font-size: 1rem; /* Ajusta o tamanho do texto dentro dos itens */
    }
}

/* Para telas muito pequenas (celulares abaixo de 480px) */
@media (max-width: 480px) {
    .faq-section .titulo-principal {
        font-size: 1.6rem; /* Ajuste final para o título */
        margin-bottom: 1rem;
    }

    .faq-item {
        padding: 1rem; /* Diminui ainda mais o padding */
    }

    .faq-item h4 {
        font-size: 1.2rem; /* Ajusta o tamanho do título para telas pequenas */
    }

    .faq-item p {
        font-size: 0.95rem; /* Ajusta o tamanho da descrição */
    }
}