/* Caixa de Serviços */
.caixa-servicos {
    background-color: #333333;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.titulo-principal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5em;
    color: white;
    margin-bottom: 2rem;
}

/* Conteúdo dividido em 4 partes */
.conteudo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

/* Estilo de cada categoria */
.categoria {
    background-color: #f9f9f9;
    border-radius: 0.8rem;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: center;
}

.categoria h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.8em;
    color: #333;
    margin-bottom: 10px;
}

.categoria p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    color: #555;
}

/* Para telas pequenas (celulares, 480px - 768px) */
@media (max-width: 768px) {
    .titulo-principal {
        font-size: 2.4rem; /* Ajusta o tamanho do título */
    }

    .conteudo {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }

    .categoria h2 {
        font-size: 2rem; /* Reduz o tamanho do título de cada categoria */
    }

    .categoria p {
        font-size: 1.3rem; /* Reduz o tamanho do texto de descrição */
    }
}

/* Para telas muito pequenas (celulares abaixo de 480px) */
@media (max-width: 480px) {
    .titulo-principal {
        font-size: 2rem; /* Reduz ainda mais o tamanho do título */
    }

    .conteudo {
        grid-template-columns: 1fr; /* 1 coluna em telas menores */
    }

    .categoria h2 {
        font-size: 1.8rem; /* Ajusta ainda mais o tamanho do título */
    }

    .categoria p {
        font-size: 1.2rem; /* Ajusta o tamanho do texto */
    }
}