@font-face {
    font-family: "Power Rangers";
    src: url(./Power\ Rangers.ttf);
}

caption{
    font-family: "Power Rangers", "fantasy";
    font-size: 72px;
    text-transform: uppercase;
}

h2{
    font-family: "Power Rangers", "fantasy";
    font-size: 30px;
    text-transform: uppercase;
    
}


img{
    height: 250px;
    /*width:150px*/
    display: flex;
    margin: auto;
}

p{
    text-align: center;
}

td{
    text-align: center;
}

body{
    background-color: green;
}