* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8B4513; /* Marrom */
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.banner {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/Fundo\ 01\ sitio.jpg');
    background-size: cover;
    text-align: center;
    color: white;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #FFD700; /* Amarelo */
    border: none;
    cursor: pointer;
}

.produtos {
    padding: 20px;
    text-align: center;
    background-image: url(./img/Fundo\ sitio02.jpg);
}

.produtos h2 {
    margin-bottom: 20px;
}

.produto {
    background-color: #4b2828;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #8B4513;
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

p{
    color: rgb(255, 255, 255);
}